:root {
    --panel-bg-color: rgb(21, 21, 21);
    --border-color: rgba(255, 255, 255, 0.05);
    --editor-bg-color: rgb(32, 32, 32);
    --base-bg-color: rgb(17, 17, 17);
    --list-bg-color: rgb(21, 21, 21);
}

body {
    display: flex;
    flex-direction: column;

    padding: 0px;
    margin: 0px;

    height: 100vh;
    width: 100vw;

    background-color: var(--base-bg-color);
    color: whitesmoke;
}

#game {
    background-color: gray;
    border-radius: 10px;
    margin: 10px;
}

#top-bar {
    padding: 0px 10px;
}

#flag {
    scale: 0.8;
}
